<!DOCTYPE html>
<html>
<head>
    <title>HR search</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1>Welcome to this little HR search!</h1>

<p>We are hard at work to make this a reality (very soon).</p>

</body>
</html>
