<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is just a test.</title>
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
</head>
<body ng-app="searchApp">
<div ng-controller="SearchController" class="container" style="margin-top:10px;">
    <form ng-submit="sendSearch()" style="text-align:center" class="form-inline">
        <input type="text" ng-model="searchText" class="form-control" autofocus>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    <h1 ng-if="twitterResults == undefined" style="text-align:center;"> Search for a name to begin with! </h1>

    <div style="margin-top:20px;">
        <div class="row">
            <div id="twitterSearchResults" class="col-sm-4">
                <h2 ng-if="twitterResults !== undefined" style="text-align:center;"> Twitter </h2>
                <ul>
                    <li ng-repeat="twResults in twitterResults">
                        <img ng-src="{{twResults.profile_image_url}}">
                        {{twResults.name}}
                        <ul>
                            <li>
                                Location: {{twResults.location}}
                            </li>
                            <li>
                                Profile: <a ng-href="https://twitter.com/@{{twResults.screen_name}}" target="_blank"> @{{twResults.screen_name}} </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div id="facebookSearchResults" class="col-sm-4">
                <h2 ng-if="facebookResults !== undefined" style="text-align:center;"> Facebook </h2>
                <ul>
                    <li ng-repeat="fbResults in facebookResults">
                        <img ng-src="{{fbResults.picture.data.url}}">
                        {{fbResults.name}}
                        <ul>
                            <li>
                                <a ng-href="https://www.facebook.com/{{fbResults.id}}" target="_blank"> Link to
                                    profile </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/scripts/angular.js"></script>
<script type="text/javascript" src="/scripts/angular-resource.js"></script>
<script type="text/javascript" src="/scripts/app.js"></script>
<script type="text/javascript" src="/scripts/controllers/search-controller.js"></script>
</html>